html {
  font-family: 'Raleway', sans-serif;
  position: relative;
  min-height: 100%;
}

p {
  font-size: 14px;
  font-weight: 400px;
}

.contanier {
    text-align: center;
}

.dotted {
  border: dotted 1px red;
}

.section-inner {
  width: 1280px;
  max-width: 90%;
  margin: auto;
  margin-top: 80px;
}

.title {
  text-align: center;
  color: rgba(255,255,255,0.8);
  position: relative;
}

.subtitle {
  font-size: 1.25em;
  font-weight: 400;
  font-style: italic;
  color: rgba(255,255,255,0.8);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  margin: 30px 0 0 0;
  text-align: center;
  position: relative;
}

.post {
  width: 320px;
  padding: 10px;
  margin-bottom: 200px;
}

.item {
  display: grid;
  margin-bottom: 20px;
  position: relative;
  width: 50%;
}

.img-container {
  position: relative;
  width: 50%;
}

.content img {
  width: 300px;
  display: block;
  height: auto;
}

.item-info {
  background: #FFF;
  padding: 10px 30px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(251, 173, 148);
  overflow: hidden;
  width: 300px;
  height:0;
  transition: .5s ease;
  opacity: 0.85;
}

.img-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  margin: 5px;
  word-wrap: break-word;
  width: 300px;
  color: #2b2a29;
  font-size: 20px;
  position: absolute;
  overflow: scroll;
  text-align: left;
  top: 140px;
  left: 49%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.btns {
  border: none;
  background-color: white;
  float: right;
}

.fol {
  float: right;
  margin-right: 10px;
}